# Kinect frames per second
KinectFramesPerSecond 15

# Kinect vertical resolution, one of [720, 1080, 1440, 1536, 2160, 3072]
KinectColorResolution 720

# Kinect depth mode binned
KinectDepthModeBinned no

# Kinect depth mode narrow field of view
KinectDepthModeNFOV yes

# Kinect transform depth to color
KinectDepthToColor yes

# Kinect depth should be compressed
KinectDepthCompress yes

# Output directory for the color and depth stream
OutputDirectory .


